<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972334264189-g7iju49i12uucff39sv3723953214ujt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972334264189-g7iju49i12uucff39sv3723953214ujt</string>
	<key>API_KEY</key>
	<string>AIzaSyCUKNR_oWejCJ1ZZXytLZLN3PHNcSM2_Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>972334264189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wealthwise</string>
	<key>PROJECT_ID</key>
	<string>wealthwise-prototype</string>
	<key>STORAGE_BUCKET</key>
	<string>wealthwise-prototype.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972334264189:ios:a625e01241425ffa06a614</string>
</dict>
</plist>